@model zadanie.Models.Publications

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publications</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRelease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professor.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
