@model List<CharacterViewModel>
@{
    ViewData["Title"] = "GetAllCharacters";
}
<!--Strona ze wszystkimi postaciami dostępnymi w grze.-->

<body id="charactersBody">
    <h1 id="titleText">All characters</h1>
    <section class="charactersSection">
        <!--Kontener na zdjęcia postaci.-->
        <div class="container">

            @foreach (var character in Model)
            {
                <!--Kontener na postać zajmującą 1/3 strony przy max. rozmiarze.-->
                <div class="col-sm-6 col-md-6">
                    <img src="@Url.Content(character.Photo)" alt="@character.CharacterClass" />
                    <h3>
                        @character.CharacterClass
                    </h3>
                    <h4>Knowledge: @character.Knowledge</h4>
                    <h4>Life energy: @character.LifeEnergy</h4>
                    <h4>Skin type: @character.SkinType</h4>
                </div>
            }
        </div>
    </section>
</body>
