@model zadanie.Models.UserFormViewModel
@{
    ViewData["Title"] = "Login";
}

<!--Strona logowania.-->

<body class="register-table">
    <!-- Formularz kontaktowy-->
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <!--Opis-->
            <div class="form-group">
                @Html.LabelFor(model => model.Nick, "Nick", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    <table class="long-table">
                        <tr>
                            <!--Okno na nick użytkownika-->
                            <td> @Html.TextBoxFor(model => model.Nick, new { @class = "form-control user-info" })</td>
                            <!--Okno na informację o błędzie-->
                            <td class="td-with-small-margin">@Html.ValidationMessageFor(m => m.Nick, "", new { @class = "error info" })</td>
                            @if (ViewBag.IfAccountExist == false)
                            {
                                <td class="td-with-small-margin">
                                    <p class="info">User doesn't exist.</p>
                                </td>
                            }

                        </tr>
                    </table>
                </div>
            </div>

            <!--Opis-->
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    <table>
                        <tr>
                            <!--Okno na hasło użytkownika.-->
                            <td>@Html.PasswordFor(model => model.Password, new { @class = "form-control user-info" })</td>
                            <!--Okno na informację o błędzie-->
                            <td class="td-with-small-margin">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "error info" })</td>
                            @if (ViewBag.IfPasswordCorrect == false && ViewBag.PasswordLength != 0 && ViewBag.IfAccountExist == true)
                            {
                                <td class="td-with-small-margin">
                                    <p class="info">Password incorret</p>
                                </td>
                            }
                        </tr>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
</body>